// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";


@import "../libs/bootstrap/scss/bootstrap";

// Then add additional custom code here
/*a cada objeto se lo define un background color el cual le da color de fondo y ademàs un border para que quede con un border */
@import "otros/variables";

@import "otros/mixis.scss";
/*se hace importaciòn de carpetas variables y mixis para asì llevar a cabo la conexiòn para el diseño*/

/*el @include se usa para llamar los mixins que se definieron*/

@include media-breakpoint-up(xs) { 
    .cua1, .cua3 {
        @include contenido-largo(5);
        background-color: $color-contenido-md;
        text-align: center;
        border: 2px solid black;
        
    }

    .cua2 {
        @include contenido-largo(5);
        background-color: $color-primario;
        text-align: center;
        border: 2px solid black;
    }
    .Obje1{
        @include contenido-largo(1);
        background-color: $color-Obj;
        text-align: center;
        border: 2px solid black;
    }
}

.pie1 {
    height: 100px;
    background-color: rgb(225, 240, 6);
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.pie2 {
    height: 100px;
    background-color: rgb(225, 240, 6);
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}
    /*text aling sirve para posicionar el texto*/
    /*height establece la altura del objeto*/
    /*display:inline-block crea cajas que son de bloque y en línea de forma simultánea*/
    /*margin botton establece margen en la parte inferior*/
    /*para llamar un class se usa el . */

@include media-breakpoint-up(sm) { 
    .cua1, .cua2 {
        @include contenido-largo(5);
        background-color: $color-contenido-md;
        text-align: center;
        border: 2px solid black;
        
    }
    .cua3 {
        @include contenido-largo(5);
        background-color: $color-contenido-sm;
        text-align: center;
        border: 2px solid black;
    }
    .Obje1{
        @include contenido-largo(1);
        background-color: $color-Ob;
        text-align: center;
        border: 2px solid black;
    }
}

@include media-breakpoint-up(lg) { 
    .cua1, .cua2, .cua3{
        @include contenido-largo(5);
        background-color: $color-contenido-lg;
        text-align: center;
        border: 2px solid black;
    }
    .Obje1{
        @include contenido-largo(1);
        background-color: $color-Obje1;
        text-align: center;
        border: 2px solid black;
    }
}





