$color-primario: rgb(14, 30, 83);
$color-secundario: rgb(255, 255, 255);
$color-texto: rgb(255, 255, 255);
$color-contenido-xs: rgb(14, 30, 83);
$color-contenido-sm: rgb(135, 248, 14);
$color-contenido-md: rgb(248, 23, 14);
$color-contenido-lg: rgb(248, 23, 14);
$color-Obje1: rgb(65, 194, 17);
$color-Obj: rgb(201, 130, 72);
$color-Ob: rgb(106, 147, 169);
$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$largo:50px;