/*este archivo es para agregar diseño a las pàginas*/
$color-primario: rgb(14, 30, 83);
$color-secundario: rgb(255, 255, 255);
$color-texto: rgb(255, 255, 255);
$color-contenido-xs: rgb(248,23,14);
$color-contenido-sm: rgb(248, 158, 14);
$color-contenido-md: rgb(80, 248, 14);


$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$largo:50px;